<div class="collection-item">
  <span class="title">
    {{md-input value=topic.title label="Title"}}
  </span>
  <p>{{md-input value=topic.votes label="Votes" type="number"}}</p>
  <p>
    {{md-textarea label="Description" value=topic.description}}
    {{#md-btn action="create"}} Create {{/md-btn}}
  </p>
</div>
