<div class="container">
  {{#md-collection content=topics as |topic|}}
    <div class="collection-item">
      <span class="title">
        {{topic.title}}
        {{md-badge text=topic.votes}}
      </span>
      <p>{{topic.description}}</p>
    </div>
  {{/md-collection}}
  {{new-topic-box}}
</div>
